#pic{
    border-radius: 250px;
    height:500px;
    width:500px;
}
body
{
  background-size: cover;	
}
#pic1{
   
    height:500px;
    width:500px;
}
#note{
color:white;
}
h3{
    color:yellow;
}
